@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Aldrich&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

.fw{
  background-image: url('/fw.png');
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  top: 0; 
  left: 0;
  pointer-events: none;
}
.bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: url('/bg-3.png');
  background-position: center;
  background-size: cover;
  background-color: #000;
  background-blend-mode: hard-light;
}
.the-filter{
  z-index: 1002;
}
.enter-gate,
.sent-gate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
}
.enter-gate .enter-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding:73px 14vw 52px;
  font-family: "Aldrich", sans-serif;
}
.sent-gate .sent-wrap{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding:45px 65px;
  font-family: "Aldrich", sans-serif;
  width: 80%;
  position: relative;
}
.sent-gate .sent-wrap .ex{
  position: absolute;
  right: 25px;
  top: 30px;
  cursor: pointer;
}
.enter-gate p,
.sent-gate p{
  color: #fff;
  font-size: 25px;
  line-height: 120%;
  font-weight: 400;
  text-align: center;
}
.sent-gate .sent-wrap p{
  text-align: left;
}
.sent-gate .sent-wrap h1{
  font-family: "Chelsea Market", system-ui;
  color:#Ec1E1E;
  text-shadow: 0 0 5.8px #Ec1E1E;
  font-size: 32px;
  line-height: 80%;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.enter-gate button{
  background-color: #Ec1E1E;
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  box-shadow: 4px 4px #861111 inset;
  border-radius: 0;
  margin:45px auto 0;
  cursor: pointer;
  padding: 20px 30px 13px;
}
.enter-gate video,
.sent-gate video{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}
.enter-gate.entered,
.sent-gate.entered{
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
  pointer-events: none;;
}


.container{
  width: 80%;
  margin:0 auto;
  max-width: 1200px;
}
.headliner{
  width: 100%;
  margin:0px auto 35px;
  padding-top: 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;
  left: 0;
}
.headliner .headline-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
.headliner img{
  width: 45%;
  max-width: 400px;
}

.headliner .sub-head{
  font-size: 48px;
  color: #4ca3ff;
  display: flex;
  justify-content: flex-end;
}
.bentos{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  margin-top: 55px;
  margin-bottom: 30px;
}
.stacked{
  flex-direction: column;
}
.bentos .left{
  flex: 0 0 38%;
  display: flex;
  flex-direction: column;
  justify-self: stretch;
  justify-content: space-between;
  align-items: stretch;
}

.bentos .right{
  flex: 1 0 58%;
}
.stacked .right-half,
.stacked .left-half{
  flex: 0 1 50%;
  max-width: 50%;
}
.bentos .right-half p,
.bentos .left-half p{
  margin-bottom: 20px;
  font-size: 25px;
}

.carousel .carousel-item{
  color: white;
  display: flex;
  gap: 30px;
}

.carousel .carousel-item .left,
.carousel .carousel-item .right{
  flex: 0 1 50%;
}
.carousel .carousel-item .left{
  margin-top: 90px;
}

.carousel .carousel-item p{
  font-size: 25px;
  line-height: 120%;
  font-weight: 400;
}
.carousel .carousel-item p.auth{
  width: 100%;
  color: #EC1E1E;
}
.carousel .carousel-item p.auth:before{
  content: "- ";
  display: inline-block;
  margin-right: 10px;
  color: white;
}
.carousel button{
  cursor: pointer;
}
.carousel button.active{
  background-color: #EC1E1E !important;
  border:none;
}
.outliner.flex{
  display: flex;
}
.outliner.flex .text-box{
  max-width: calc(50% - 15px);
  margin-bottom: -90px;
}

.handjet, .footerText, .main-logo p{
  font-family: "Aldrich", sans-serif ;
}
.outliner{
  font-family: "Aldrich", sans-serif;
  padding:35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: #000;
}
.outliner h1{
  color: #Ec1E1E;
  text-shadow: 0 0 5.8px #Ec1E1E;
  font-size: 30px;
  line-height:80%;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Chelsea Market", system-ui;
}
.outliner h2{
  font-size: 60px;
  line-height:100%;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
}
.outliner h1 .RIP{
  font-size: 22px;
}
.outliner p{
  color: #fff;
  line-height: 120%;
  font-size: 28px;
  margin-bottom: 1em;
}
.outliner img,
.outliner video{
  margin-bottom: 20px;
  border-radius: 20px;
}
.dj-booth p{
  font-size: 19px;
}
.tune-in{
  font-size: 32px;
  color: #fff;
  position: relative;
}
.tune-in:before{
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg width='125' height='60' viewBox='0 0 125 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_418_170)'%3E%3Cg filter='url(%23filter1_d_418_170)'%3E%3Cpath d='M28.6099 39.3798C27.3369 39.3798 26.1413 39.1562 25.0231 38.7089C23.9049 38.2617 22.9243 37.6338 22.0814 36.8252C21.2556 35.9995 20.6019 35.0275 20.1202 33.9093C19.6558 32.7739 19.4235 31.5267 19.4235 30.1677C19.4235 28.8258 19.6558 27.5958 20.1202 26.4776C20.6019 25.3422 21.2556 24.3617 22.0814 23.5359C22.9243 22.7102 23.9049 22.0737 25.0231 21.6264C26.1413 21.1791 27.3369 20.9555 28.6099 20.9555C29.8829 20.9555 31.0699 21.1791 32.1709 21.6264C33.2891 22.0737 34.2611 22.7102 35.0868 23.5359C35.9297 24.3617 36.5834 25.3422 37.0479 26.4776C37.5296 27.5958 37.7705 28.8258 37.7705 30.1677C37.7705 31.5267 37.5296 32.7739 37.0479 33.9093C36.5834 35.0275 35.9297 35.9995 35.0868 36.8252C34.2611 37.6338 33.2891 38.2617 32.1709 38.7089C31.0699 39.1562 29.8829 39.3798 28.6099 39.3798ZM28.6099 36.7736C29.7797 36.7736 30.8205 36.507 31.7322 35.9737C32.644 35.4232 33.3579 34.6576 33.874 33.6771C34.3901 32.6793 34.6481 31.5095 34.6481 30.1677C34.6481 28.8086 34.3901 27.6388 33.874 26.6583C33.3579 25.6777 32.644 24.9208 31.7322 24.3875C30.8205 23.837 29.7797 23.5617 28.6099 23.5617C27.4401 23.5617 26.3993 23.837 25.4876 24.3875C24.5758 24.9208 23.8533 25.6777 23.32 26.6583C22.8039 27.6388 22.5458 28.8086 22.5458 30.1677C22.5458 31.5095 22.8039 32.6793 23.32 33.6771C23.8533 34.6576 24.5758 35.4232 25.4876 35.9737C26.3993 36.507 27.4401 36.7736 28.6099 36.7736ZM55.1931 21.1361V39.1992H52.0707L43.6585 25.9616V39.1992H40.5878V21.1361H43.7359L52.1481 34.3222V21.1361H55.1931ZM74.0345 23.6908H73.1056L67.6866 39.1992H64.5385L70.938 21.1361H76.1505L82.5758 39.1992H79.4276L74.0345 23.6908ZM68.0479 32.2578H78.5761V34.7867H68.0479V32.2578ZM84.6367 21.1361H87.7074V39.1992H84.6367V21.1361ZM101.839 26.5809C101.839 25.6863 101.572 24.981 101.039 24.4649C100.505 23.9488 99.6796 23.6908 98.5614 23.6908H94.5617V29.4968H98.5614C99.3183 29.4968 99.9291 29.3849 100.394 29.1613C100.875 28.9205 101.236 28.585 101.477 28.1549C101.718 27.7077 101.839 27.183 101.839 26.5809ZM98.5614 21.1361C100.006 21.1361 101.193 21.3856 102.122 21.8845C103.069 22.3661 103.774 23.0285 104.238 23.8714C104.703 24.6971 104.935 25.6003 104.935 26.5809C104.935 27.2346 104.823 27.8797 104.6 28.5162C104.376 29.1527 104.015 29.7462 103.516 30.2967C103.017 30.83 102.355 31.2601 101.529 31.5869C100.72 31.8966 99.7312 32.0514 98.5614 32.0514H94.5617V39.1992H91.491V21.1361H98.5614ZM100.394 31.045L105.322 39.1992H101.864L97.1164 31.045H100.394Z' fill='%23EC1E1E'/%3E%3C/g%3E%3Crect x='8.31299' y='7.77539' width='108.477' height='44.0274' rx='7.52629' stroke='%23EC1E1E' stroke-width='3.22555'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 125px;
  height: 60px;
  position: absolute;
  left: -36px;
  transform: rotate(-20deg);
  top: -32px;
}


.stories p{
  margin-bottom: 1em;
  font-size: 28px;
  line-height: 120%;
  font-weight: 400;
}

.outliner .data-dread{
  background-image: url('/people/Data-Dread-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.spooky .outliner .data-dread{
  background-image: url('/people/Data-Dread-2.png');
}

.outliner .leaky-lead-linda{
  background-image: url('/people/leaky-lead-linda-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.spooky .outliner .leaky-lead-linda{
  background-image: url('/people/leaky-lead-linda-2.png');
}

.outliner .failed-ad-frank{
  background-image: url('/people/failed-ad-frank-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.spooky .outliner .failed-ad-frank{
  background-image: url('/people/failed-ad-frank-2.png');
}

.outliner .no-click-nick{
  background-image: url('/people/no-click-nick-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}
.spooky .outliner .no-click-nick{
  background-image: url('/people/no-click-nick-2.png');
}

.forms{
  font-size: 30px;
  color: #fff;
  font-family: "Aldrich", sans-serif;
  padding:35px;
  background-color: #000;
}
.forms .title{
  color: #Ec1E1E;
  text-shadow: 0 0 5.8px #Ec1E1E;
  font-size: 30px;
  line-height:80%;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Chelsea Market", system-ui;
}
.forms .description p{
  color: #fff;
  line-height: 120%;
  font-size: 28px;
  margin-bottom: 20px;
}
.forms input,
.forms textarea{
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 22px;
  padding: 13px 16px;
  height: auto;
  line-height: 1;
  color:black;
  margin:0;
}

.forms textarea{
  min-height: 150px;
}
.forms form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap:10px;
}
.forms .input{
  flex: 0 1 calc(50% - 15px);
}
.forms .textarea,
.forms .email{
  flex:0 0 100%;
}
.forms .voice label,
.forms .button label{
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
}
.forms .voice button{
  border-radius: 0;
  font-size: 22px;
  line-height: 1;
  background-color: #ff7c33;
  color:white;
  padding:15px 20px 10px;
  height: auto;
  font-weight: 400;
  box-shadow: 4px 4px 0 0 #861111 inset;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.forms .button button{
  text-transform: uppercase;
  border-radius: 0;
  font-size: 22px;
  line-height: 1;
  background-color: #EC1E1E;
  color:white;
  padding:15px 20px 10px;
  height: auto;
  font-weight: 400;
  box-shadow: 4px 4px 0 0 #861111 inset;
  cursor: pointer;
}
.forms .button-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.socials{
  margin-top: 30px;
}
.socials .socials-wrap{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

.socials .socials-wrap a{
  flex: 0 0 15%;
}
.socials .main-logo{
  text-align: center;
  color:#fff;
  font-size: 20px;
  line-height: 120%;
}
.socials .main-logo img{
  margin: 0 auto;
  width: 30%;
  min-width: 250px;
}

.footerText {
    font-size: 19px;
    margin-top: 30px;
    color: #fff;
}

/* exciting things are happening */
 canvas {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 9998;
          width: 100%;
          height: 100%;
        }
        
        canvas.snow {
          background-color: #aaa;
          opacity: 0.2;
        }

        #screen {
          width: 100%;
          height: 100%;
          background: transparent;
        }

        .screen-container {
          width: 100vw;
          height: 100vh;
          overflow: hidden;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 999999999;
          pointer-events: none;
        }

        .screen-wrapper {
          position: relative;
          width: 100%;
          height: 100%;
        }
        
        .vcr {
          opacity: 0.6;
        }

        .video {
          filter: blur(1px);
          width: 100%;
          height: 100%;
        }

        .image {
          width: 100%;
          height: auto;
          filter: blur(1.2px);
        }

        .vignette {
          background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/crt.png);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          z-index: 10000;
        }

        .scanlines {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 9999;
          background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
          background-size: 100% 2px, 3px 100%;
          pointer-events: none;
        }

        .wobbley {
          animation: wobblex 100ms infinite;
        }

        .glitch {
          animation: 5s ease 2000ms normal none infinite running glitch;
        }

        @keyframes wobblex {
          50% {
            transform: translateX(1px);
          }
          51% {
            transform: translateX(0);
          }
        }

        @keyframes glitch {
          40% {
            opacity: 1;
            transform: scale(1, 1);
            transform: skew(0, 0);
          }
          41% {
            opacity: 0.8;
            transform: scale(1, 1.2);
            transform: skew(80deg, 0);
          }
          42% {
            opacity: 0.8;
            transform: scale(1, 1.2);
            transform: skew(-50deg, 0);
          }
          43% {
            opacity: 1;
            transform: scale(1, 1);
            transform: skew(0, 0);
          }
        }

        @keyframes glitch1 {
          0% {
            transform: translateX(0);
          }
          30% {
            transform: translateX(0);
          }
          31% {
            transform: translateX(10px);
          }
          32% {
            transform: translateX(0);
          }
          98% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(10px);
          }
        }

        .text span:nth-child(2) {
          animation: glitch2 1s infinite;
        }

        @keyframes glitch2 {
          0% {
            transform: translateX(0);
          }
          30% {
            transform: translateX(0);
          }
          31% {
            transform: translateX(-10px);
          }
          32% {
            transform: translateX(0);
          }
          98% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-10px);
          }
        }

        .overlay .text {
          animation: 5s ease 2000ms normal none infinite running glitch;
        }

        .on > .screen-wrapper {
          animation: 3000ms linear 0ms normal forwards 1 running on;
        }

        .off > .screen-wrapper {
          animation: 750ms cubic-bezier(0.23, 1, 0.32, 1) 0ms normal forwards 1 running off;
        }

        @keyframes on {
          0% {
            transform: scale(1, 0.8) translate3d(0, 0, 0);
            filter: brightness(4);
            opacity: 1;
          }
          3.5% {
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
          }
          3.6% {
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
            opacity: 1;
          }
          9% {
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            filter: brightness(4);
            opacity: 0;
          }
          11% {
            transform: scale(1, 1) translate3d(0, 0, 0);
            filter: contrast(0) brightness(0);
            opacity: 0;
          }
          100% {
            transform: scale(1, 1) translate3d(0, 0, 0);
            filter: contrast(1) brightness(1.2) saturate(1.3);
            opacity: 1;
          }
        }

        @keyframes off {
          0% {
            transform: scale(1, 1);
            filter: brightness(1);
          }
          40% {
            transform: scale(1, 0.005);
            filter: brightness(100);
          }
          70% {
            transform: scale(1, 0.005);
          }
          90% {
            transform: scale(0.005, 0.005);
          }
          100% {
            transform: scale(0, 0);
          }
        }

        .roller {
          position: relative;
          animation: 2000ms linear 0ms forwards infinite roll;
        }

        @keyframes roll {
          from {
            transform: translate3d(0, 0, 0);
          }
          to {
            transform: translate3d(0, -50%, 0);
          }
        }



.visually-hidden{
  display: none;
}
:root {
  --background: black ;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@media screen and (max-width:600px){
  .container{
    width: 100%;
  }
  .bentos{
    flex-direction: column;
  }
  .outliner,
  .forms{
    padding: 35px 2vw 0px;
  }
  .forms .input{
    flex: 0 0 100%;
  }
  .forms .title{
    line-height: 100%;
  }
  .headliner{
    margin-bottom: 0;
  }
  .headliner .headline-wrap{
    flex-direction: column;
  }
  .headliner img{
    width: 100%;
  }
  .forms{
    margin-bottom: 0;
  }
  .forms .button, .forms .voice,
  .forms .button button, .forms .voice button{
    width: 100%;
  }
  .tune-in{
    display: none;
  }
  .bentos .left-half, .bentos .right-half{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .socials .socials-wrap{
    flex-direction: column;
    gap: 25px;
  }
  .socials .socials-wrap a{
    width: 50%;
  }
  .enter-gate .enter-wrap,
  .send-gate .sent-wrap{
    width: 90vw;
    height: 80vh;
    padding: 73px 4vw 52px;
    display: flex;
    justify-content: center;
  }
  .outliner.flex .text-box{
    max-width: 100%;
    margin:0;
  }
  .carousel .carousel-item{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .carousel .carousel-item .left{
    margin-top: 0;
    height: auto;
    flex: 0 0 auto;
  }
  .carousel .carousel-item .right {
    aspect-ratio: 1;
    width: 100%;
  }
  .enter-wrap p{
    display: inline;
  }
  .carousel{
    margin-bottom: 35px;
  }
  .carousel .carousel-item p.auth{
    margin-bottom: 0;
  }
}